/*   
  font-family: 'Roboto', sans-serif;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
  lighter blue: #74b9ff
  darker blue: #0984e3
*/

body {
  margin: 0;
  padding: 0;
}

main {
  font-family: 'Roboto', sans-serif;
  background-color: #74b9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.order-box {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 80vh;
  background-color: white;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

.order {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.top {
  width: 100%;
  border-bottom: 2px dashed black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 2vh 0;
}

.view-details-btn {
  color: #0984e3;
  font-size: 4vh;
  display: flex;
  align-items: center;
  font-weight: bold;
}

p {
  font-size: 3.2vh;
  margin: 4px 0 4px 0;
  font-weight: 100;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px dashed black;
  height: 100%;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h2 {
  font-size: 5vh;
  margin: 4px 0 4px 0;
  font-weight: 900;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 35vw;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3vh 0 0 0;
}

.circle {
  height: 10vh;
  width: 10vh;
  border: 3px solid #74b9ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  font-weight: lighter;
}

.placed, .shipped, .delivered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.one {
  background-color: #74b9ff;
}